/*Basic CSS */
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

p, h1, h2, h3, h4, h5, h6, a{
    font-family: 'Muli', sans-serif;
}

p{
    font-size: 14px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
    transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
}

a :visited {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #999;
}

/*Class CSS */
.headerCont{
    width: 100%;
    margin: 0 auto;
    min-height: 80px;
    background-color: #edffdb;
    border-bottom: #d5dcda 2px solid;
}
.header{
    width: 100%;
    margin: 0 auto;
    max-width: 1080px;
    padding: 0 10px;

}

.navbar{
    float: right;
    margin: auto 0;
    height: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
}
.navbar a{
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: baseline;
}

.container{
    padding-top: 10px;
    padding-bottom: 10px;
}
.content{
    margin: 0 auto;
    width: 1080px;
    background-color: #f4f4f4;
    min-height: 521px;
}
.footerCont{
    min-height: 80px;
    background-color: #f7f7f7;
    border-top: #d5dcda 2px solid;;
}
.footer{
    width: 100%;
    margin: 0 auto;
    max-width: 1080px;
    padding: 0 10px;
}
.feed{
    width: 80%;
    min-height: 50px;
    float: left;
}
.post{
    position: relative;
    width: 575px;
    height: 175px;
    background-color: #fff;
    /*border-radius: 12px;*/
    border: 1px #7d7d7d solid;
    cursor: default;
    margin: 8px;
}
.postContent{
    height: 110px;
    text-align: center;
}
.postUtil{
    height: 64px;
    border-top: 1px #f7f7f7 solid;
    background-color: #94CEBA;
    /*border-bottom-left-radius: 12px;*/
    /*border-bottom-right-radius: 12px;*/
    text-align: right;
}
.postUser{
    position: absolute;
    top: 14px;
    left: 16px;
    margin: 0;
}
.postUser p{
    font-size: 14px;
    text-decoration: solid;
    color: #94CEBA;
}
.postContent p{
    padding-top: 40px;
    font-size: 16px;
}
.postUtil p{
    padding-top: 8px;
    padding-right: 10px;
}
/*ID CSS */
#logo{
    position: absolute;
    padding-top: 4px;
    padding-left: 4px;
    height: 98px;
    transition: height .25s ease-in-out;
    -moz-transition: height .25s ease-in-out;
    -webkit-transition: height .25s ease-in-out;
}
/*Specific CSS */
.mButton{
    font-size: 14px;
    min-width: 100px;
    min-height: 32px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 20px;
    color: #94CEBA;
    background-color: #4F3A3c;
    border: #3d2c2d 2px solid;
    position: relative;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}
.mButton:hover{
    background-color: #94CEBA;
    color: #4F3A3c;
    border: #3d2c2d 2px solid;
}
#trending {
    width: 30%;
    min-height: 500px;
    border-right: 2px solid;
    border-color: black;
    border-radius: 10px;
    float: left;
}
#recentPosts {
    width: 68%;
    float: left;
    margin-left: 11px;
}



.contentText {
    color: #4F3A3c;
    font-size: 150%;
    margin: 0;
    padding: 0;
}

.boxed {
    border-radius: 25px;
    text-align: center;
    background-color: #e6e7e7;
    position: relative;
    left: 10px;
    top: 300px;
}

.friend {
    padding: 10px 4px 190px 3px;
    text-align: left;
    background-color: rgba(148, 206, 186, 0.51);

}

.title {
    top: -60px;
    left: 190px;
    position: relative;
}

.form {
    left: 200px;
    position: absolute;
}
#userBio{
    float: left;
    width: 80%;
    height: 160px;
}
#profileLeftBar {
    width: 20%;
    float: left;
}
#profilePhoto{
    float: left;
    border-bottom-right-radius: 100px;
    border-top: groove #71e156 4px;
    border-left: groove #71e156 4px;
    box-shadow: 10px 5px 5px #7d978c ;
}
