#searchBar{
    height: 30px;
    width: 450px;
    font-size: 20px;
    padding: 4px 7px 4px 7px;
}
.centerDiv{

}
.OptLabelSearch{

}
.OptInputSearch{
    height: 14px;
    width: 14px;
    background-color: #6bbda0;
}

